<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="btnGroup (id, deleted)">
	<div th:if="${ not deleted }">
		<div class="edition-buttons" id="edition-buttons_${ id }">
			<button type="button" data-id="${ id }" class="btn btn-primary btn-xs Modal"
				data-toggle="modal" data-target=".bs-modal" th:title="#{page.edition.title.edit}"
				th:utext="#{page.edition.icon.edit} + ' ' + #{page.edition.title.edit}"></button>
			<button type="button" data-id="${ id }"
				class="btn btn-danger btn-xs delete-button" th:title="#{page.edition.title.delete}"
				th:utext="#{page.edition.icon.delete} + ' ' + #{page.edition.title.delete}"></button>
		</div>
	</div>
	<div th:if="${ deleted }">
		<button type="button" data-id="${ id }" id="restore_${ id }" class="btn btn-success btn-xs restore-button"
			th:utext="#{page.edition.icon.restore} + ' ' + #{page.edition.title.restore}"></button>
	</div>
  </div>
</html>