<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="footer-scripts">
    <!-- jQuery -->
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <!-- Bootstrap -->
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/static/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/static/vendors/nprogress/nprogress.js}"></script>
    <!-- Jquery Confirm -->
    <script th:src="@{/static/vendors/jquery-confirm-master/js/jquery-confirm.js}"></script>
    <!-- Datatables -->
    <script th:src="@{/static/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/static/vendors/datatables.net/js/dataTables.altEditor.free.js}"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="@{/static/build/js/custom.js}"></script>
    
    <script th:src="@{/static/build/js/table.conf.js}"></script>
  </div>
</html>